{% extends 'base_list.html' %}

{% block table-head %}
    <tr>
        <th class="text-center">#</th>
        <th>Nombre</th>
        <th></th>
    </tr>
{% endblock %}

{% block table-rows %}
{% comment %}    {% for c in object_list %}
        <tr>
            <td class="text-right">{{ c.id }}</td>
            <td>{{ c.name }}</td>
            <td class="text-center">
                <a href="#" class="btn btn-outline-warning">
                    <i class="far fa-edit"></i>
                </a>
                <a href="#" class="btn btn-outline-danger">
                    <i class="far fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}{% endcomment %}

{% endblock %}

{% block modal-form %}
    {% csrf_token %}
    <input type="hidden" name="action" value="add"/>
    <input type="hidden" name="id" id="id" value="0">
    {% for f in form.visible_fields %}
        <div class="form-group">
            <label for="id_{{ f.name }}">{{ f.label }}</label>
            {{ f }}
        </div>
    {% endfor %}
{% endblock %}