{% extends 'base.html' %}

{% load static %}

{% block header-base %}
    <link rel="stylesheet"
          href="{% static 'librerias/adminlte-3.2/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'librerias/adminlte-3.2/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    {#    <link rel="stylesheet" href="{% static 'css/style_list.css' %}">#}
{% endblock %}

{% block content %}

    <table class="table" id="table_main">
        <thead>

        {% block table-head %}
        {% endblock %}

        </thead>
        <tbody>

        {% block table-rows %}
        {% endblock %}

        </tbody>
    </table>

{% endblock %}

{% block base-footer %}
    <!-- Button trigger modal -->
    <button type="button" id="btnNew" class="btn btn-outline-primary">
        {% block button-new-text %}
            <i class="fas fa-plus"></i> Nuevo
        {% endblock %}
    </button>
{% endblock %}



{% block js-base %}

    <script src="{% static 'librerias/adminlte-3.2/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'librerias/adminlte-3.2/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'librerias/adminlte-3.2/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'librerias/adminlte-3.2/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    {#    <script src="{% static 'lib/js-cookie-3.0.0/js.cookie.min.js' %}"></script>#}
    <script src="{% static 'librerias/adminlte-3.2/plugins/sweetalert2/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/my_msg.js' %}"></script>

    <script>
        {#$(function () {#}
        {#    $("#example1").DataTable({#}
        {#        "responsive": true, "lengthChange": false, "autoWidth": false,#}
        {#        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]#}
        {#    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');#}
        {#    $('#example2').DataTable({#}
        {#        "paging": true,#}
        {#        "lengthChange": false,#}
        {#        "searching": false,#}
        {#        "ordering": true,#}
        {#        "info": true,#}
        {#        "autoWidth": false,#}
        {#        "responsive": true,#}
        {#    });#}
        {# }); #}
    </script>

    <!-- Modal -->
    <div class="modal fade" id="bsModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">{{ title_form }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" id="formModal">
                        {% block modal-form %}
                        {% endblock %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" id="btnSave" form="formModal" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript">
        $(function () {
            $('#table_main').DataTable({
                responsive: true,
                autoWidth: false,
                'language': {
                    url: '{% static 'librerias/adminlte-3.2/plugins/datatables/spanish.txt' %}'
                }
            });

            $('#btnNew').on('click', function () {
                $('#bsModal').modal('show');
            });

            $("#formModal").on("submit", function (e) {
                e.preventDefault();
                let params = new FormData(this);
                params.append('action', 'create');

                submitWithAjax("Titulo", "Mensaje", "url", "parametros", function () {});
            });

            $('#bsModal').on('hidden.bs.modal', function (e) {
                // Limpiar el formulario
                $('#formModal').trigger('reset');
            });
        });
    </script>

    {% block JavaScript-List %}
    {% endblock %}

{% endblock %}